.vert{ color:green;}
.rouge{color:red;}
.rose{color: purple;}
.violet{color:blueviolet;}
.bleu{color:blue;}

 .container{
 
    display: flex;
    flex-direction: row;
    justify-content:space-between;

    
}  
.card-img-top{
    width: 288px;
}

.descrip{
   overflow:auto;
   
    max-height:100px;
   
}
#contenu a{
    text-decoration: none;
    color:white;
    background-color: blue;
    width: fit-content;
    padding: 6px;
    margin: auto;
    

}
h1{text-align: center;
margin-bottom: 30px;}

#contenu{
    margin-top: 30px;
    
  
}
.list_footer{
    list-style-type: none;
    display: flex;
    justify-content: center;
    font-size: 30px;
    padding:0;


}
.list_footer li{
margin-top: 90px;
   padding-left: 10%;
}
li a{
    color: rgb(45, 143, 235);
}
